<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Verif</title>
</head>
<body>
    <h1>hello {{number}}</h1>
</body>
</html>